extend layout
block content
    div(class='video-player', class='intro-bg')
        video(id='bg-video', preload, muted, class='hide', width='1920', height='1080')
            source(src='/video/test-short.webm', type='video/webm')
            source(src='/video/test-short.mp4', type='video/mp4')
        video(id='video-clip1', preload, muted, class='hide', width='1920', height='1080')
            source(src='/video/test-short.webm', type='video/webm')
            source(src='/video/test-short.mp4', type='video/mp4')
        video(id='video-clip2', preload, muted, class='hide', width='1920', height='1080')
            source(src='/video/test-short.webm', type='video/webm')
            source(src='/video/test-short.mp4', type='video/mp4')
        video(id='video-clip3', preload, muted, class='hide', width='1920', height='1080')
            source(src='/video/test-short.webm', type='video/webm')
            source(src='/video/test-short.mp4', type='video/mp4')
    div(id='btn-clip1', class='btn-clip hover-off hide', data-id='1')
    div(id='btn-clip2', class='btn-clip hover-off hide', data-id='2')
    div(id='btn-clip3', class='btn-clip hover-off hide', data-id='3')
